<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          <strong>Realizar Pedido</strong>
      </ion-title>
      <ion-buttons slot="start">
          <ion-button>
              <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content
    pullingIcon="arrow-dowm-circle-outline"
    pullingText="Deslice para actualizar"
    refreshingSpinner="bubbles"
    refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <!-- Producto a Buscar -->
    <ion-card>
      <ion-card-header>
        Ingrese Producto a Buscar
      </ion-card-header>
      <form [formGroup]="productoBuscar" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="floating">Producto</ion-label>
          <ion-input formControlName="nombreProducto" [(ngModel)]= "productoB"></ion-input>
          <div *ngFor="let error of errorMessages.nombreProducto">
            <ng-container *ngIf="nombreProducto.hasError(error.type) && (nombreProducto.dirty || nombreProducto.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>
        <ion-item>
          <ion-button (click)="pickFile()">
            Cargar Archivo
          </ion-button>
          <div *ngIf="mostrarImg">
            <img width="50px" [src]="mostrarImg"/>
          </div>
          <ng-container *ngIf="imgValidation === true">
            {{validacionImg}}
          </ng-container>
        </ion-item>
        <div *ngIf="this.productoBuscar.valid">
          <ion-button style="text-align: center;" expand="block" fill="outline" color="success" (click)="cargarProducto()">Cargar producto</ion-button>
          <ion-row>
            <ion-col size-md="4" offset-md="4">
              <ion-list id="listaProductosACargar">

              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-card>

     <!--Modalidad de domicilio-->
     <ion-card>
      <ion-card-header>
          Seleccione Modo de Cargar Domicilio
      </ion-card-header>
      <ion-list>
          <ion-radio-group [(ngModel)]="seleccionarDomicilio">

              <ion-item>
                  <ion-label>Cargar Formulario</ion-label>
                  <ion-radio slot="start" value="griff" checked (click)="ocultarMapa()"></ion-radio>
              </ion-item>

              <ion-item>
                  <ion-label>Seleccionar del Mapa</ion-label>
                  <ion-radio slot="start" value="biff"  (click)="mostrarMapa()"></ion-radio>
              </ion-item>
          </ion-radio-group>
      </ion-list>
  </ion-card>
  <ion-card *ngIf="!selectorDomicilio">
    <ion-card-header>
        Ingrese Domicilio de Entrega
    </ion-card-header>
    <form [formGroup]="domicilio" (ngSubmit)="submit()">
        <ion-list>
            <ion-item>
                <ion-label position="floating" >Ciudad</ion-label>
                <ion-select [(ngModel)]="ciudadSeleccionada" formControlName="ciudad" placeholder="Seleccione una ciudad" (ionChange)="obtenerCiudad( $event )">
                    <!--<ion-select-option value="  " >Seleccione una ciudad</ion-select-option> -->
                    <ion-select-option value="Cordoba" >Cordoba</ion-select-option>
                    <ion-select-option value="Rio Ceballos" >Rio Ceballos</ion-select-option>
                    <ion-select-option value="Unquillo" >Unquillo</ion-select-option>
                </ion-select>
                <div *ngFor="let error of errorMessages.ciudad">
                    <ng-container *ngIf="ciudad.hasError(error.type) && (ciudad.dirty || ciudad.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-item>


            <ion-item>
                <ion-label position="floating">Calle</ion-label>
                <ion-input formControlName="calle" [(ngModel)]= "nombreCalle"></ion-input>
                <div *ngFor="let error of errorMessages.calle">
                    <ng-container *ngIf="calle.hasError(error.type) && (calle.dirty || calle.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Número</ion-label>
                <ion-input type="number" formControlName="numero" [(ngModel)]= "numeroCalle"></ion-input>
                <div *ngFor="let error of errorMessages.numero">
                    <ng-container *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Piso</ion-label>
                <ion-input type="number" formControlName="piso" [(ngModel)]= "numeroPiso"></ion-input>
                <div *ngFor="let error of errorMessages.piso">
                    <ng-container *ngIf="piso.hasError(error.type)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Departamento</ion-label>
                <ion-input type="text" formControlName="departamento" [(ngModel)]= "numeroDepartamento"></ion-input>
                <div *ngFor="let error of errorMessages.departamento">
                    <ng-container *ngIf="departamento.hasError(error.type)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Referencias (opcional)</ion-label>
                <ion-textarea rows="6" cols="20" formControlName="referencia" [(ngModel)]= "referenciaIngresada"></ion-textarea>
            </ion-item>
        </ion-list>
    </form>
  </ion-card>
  <ion-card id="rowMapa" *ngIf="selectorDomicilio">
    <ion-card-header>
      Seleccione Domicilio de Entrega
    </ion-card-header>
    <div class="container" style="height: 385px; width: 495px;">
      <div id="myMap" style="width: 100%; height: 80%;">
      </div>
      <ion-button (click)="getPosition()">
          Mostrar mi ubicación
      </ion-button>
      <ion-button (click)="capturedPosition()">
          Here
      </ion-button>
    </div>
    <ion-item>
    </ion-item>
  </ion-card>
  <!--Modalidad de entrega-->
  <ion-card>
    <ion-card-header>
        Seleccione Modalidad de entrega
    </ion-card-header>
    <ion-list>
        <ion-radio-group [(ngModel)]="seleccionarEntrega">

            <ion-item>
                <ion-label>Lo antes posible
                <small>(~ 30 min)</small>
            </ion-label>
                <ion-radio slot="start" value="biff" checked (click)="ocultarSelectorFecha()"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Envio Programado</ion-label>
                <ion-radio slot="start" value="griff"  (click)="mostrarSelectorFecha()"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-card>
<ion-card id="rowFecha" *ngIf="selectorFechaVisible">
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Hora de envio</ion-label>
                <ion-datetime id="hora" displayFormat="HH:mm A" value="{{hora}}" cancelText="Cancelar Hora" doneText="Confirmar Hora" (ionChange)="cambioHora( $event )"></ion-datetime>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label stacked position="floating">Fecha de envio</ion-label>
                <ion-datetime id = "dia" displayFormat="DD MMM" value="{{fecha | date: 'yyyy-MM-dd'}}" min="{{fecha | date: 'yyyy-MM-dd'}}" cancelText="Cancelar Fecha" doneText="Confirmar Fecha" (ngModel)="fecha.toISOString()" (ionChange)="cambioFecha( $event )" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-card>

      <!--Forma de pago-->
      <ion-card>
        <ion-card-header>
            Seleccione Forma de pago
        </ion-card-header>
        <ion-list>
            <ion-radio-group [(ngModel)]="seleccionarPago">

                <ion-item>
                    <ion-label>Efectivo</ion-label>
                    <ion-radio slot="start" value="biff" (click)="ocultarSelectorTarjeta()"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Con tarjeta VISA</ion-label>
                    <ion-radio slot="start" value="griff"  (click)="mostrarSelectorTarjeta()"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ion-card>


  </ion-grid>
</ion-content>
